<div class="form-group mt-3 mb-3">
  <label for="photo"  class="form-text text-muted">
    Pesquisar Fotos
  </label>
  <i class="fa fa-search mr-2" aria-hidden="true"></i>
  <input type="search"
        class="rounded pl-2"
        placeholder="Descrição"
        autofocus
        (keyup)="debounce.next($event.target.value)"
        [value]="searchValue">
</div>
