
<app-photo-search
    (onTyping)="filter = $event"
    [searchValue]="filter">
</app-photo-search>

<app-photos [photos]="photos | filterDescr: filter"></app-photos>

<div class="text-center" *ngIf="hasMore; else elseHasMore">
  <button class="btn btn-outline-primary" (click)="load()">
    Carregar Mais
  </button>
</div>

<ng-template #elseHasMore>
  <p class="text-center text-muted">
    Todas as fotos foram carregadas
  </p>
</ng-template>
