<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <router-outlet></router-outlet>


    <h2>Here are some links to help you start: </h2>
  </div>
</div>
