<p class="alert alert-info text-center text-muted"
  *ngIf="!photos.length">
  Nenhuma foto foi encontrada
</p>
<ul class="list-unstyled constainer">
  <li *ngFor="let photoList of rows" class="row">
    <div *ngFor="let photo of photoList " class="col-3" app-dark-hover>
      <app-card [title]="photo.description" >
        <ap-photo [src]="photo.url" [alt]="photo.description"></ap-photo>
        <div class="text-center p-1">
          <i class="fa fa-heart-o fa-1x mr-2" tooltip="Curtidas"
          aria-hidden="true"></i> {{ photo.likes}}
          <i class="fa fa-comment-o fa-1x mr-2 ml-2"
          aria-hidden="true"></i> {{ photo.comments}}
        </div>
      </app-card>
    </div>
  </li>
</ul>
